.tiny_screen, .small_screen {
    display: none;
}

.large_screen {
    display: block;
}

@media (max-width: 830px) {
    .small_screen {
        display: block;
    }
    .large_screen {
        display: none;
    }
    #navbar_toggler {
        top: 123%;
    }
}

@media (max-width: 360px) {
    .small_screen {
        display: none;
    }
    .tiny_screen {
        display: block;
    }
    #navbar_toggler {
        top: 129%;
    }
}





